body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('darkbluegalaxy.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #00bfff; 
}

header {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #00bfff; 
    padding: 1em 0;
    text-align: center;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;
}

.experience {
    background-color: rgba(0, 0, 0, 0.6); 
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    text-align: center;
    color: #00bfff; 
    transition: transform 0.3s;
}

.experience:hover {
    transform: scale(1.05);
}

.experience-image {
    width: 100%;
    border: 2px solid #00bfff; 
    border-radius: 5px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #00bfff; 
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.return-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000000; 
    color: #03A9F4; 
    border: 2px solid #03A9F4; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.return-button:hover {
    background-color: #03A9F4; 
    color: #000000; 
}