body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.container {
    width: 75%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #9d9999;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #00ccff 3px solid;
}
header a, header h1 {
    color: #adabab;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 {
    float: left;
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
header nav a {
    margin-left: 20px;
}
#showcase {
    min-height: 69px;
    background: #333;
    color: #abacad;
    text-align: center;
    padding: 50px 20px;
}
#showcase h1 {
    margin-top: 0;
}
.section {
    padding: 20px;
    background: #333;
    margin: 20px 0;
}
.section h2 {
    margin-top: 0;
}
.skills, .experience, .education {
    list-style: none;
    padding: 0;
}
.skills li, .experience li, .education li {
    padding: 10px;
    margin: 10px 0;
    background: #adabab;
}
.contact {
    padding: 20px;
    background: #12dbff;
    color:black;
}
.contact h2 {
    margin-top: 0;
}
