body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url('darkbluegalaxy.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #FFFFFF; 
}

h1 {
    text-align: center;
    color: #03A9F4; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.skills {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background: rgba(30, 30, 30, 0.8); 
    color: #FFFFFF;              
    margin: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, background-color 0.3s;
    max-width: 200px;
}

.skill:hover {
    transform: scale(1.1);
    background: rgba(3, 169, 244, 0.8); 
}

.skill h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.skill p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #B0E0E6; 
}
.return-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000000; 
    color: #03A9F4; 
    border: 2px solid #03A9F4; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.return-button:hover {
    background-color: #03A9F4; 
    color: #000000; 
}